* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

:root {
    --main-background-color: #242b3e;
    --secondary-background-color: #2a3246;
    --main-text-color: #00BFFF;
    --secondary-text-color: #D3D3D3;
}