* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

:root {
    --main-background-color: #242b3e;
    --secondary-background-color: #2a3246;
    --main-text-color: #00BFFF;
    --secondary-text-color: #D3D3D3;
}

body {
    background-color: var(--main-background-color);
}

.flex {
    display: flex;
    flex-wrap: 1;
}

/* header */
.header {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 150px);
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1720px;
    min-width: 740px;
    margin: 0 auto;
}

.menu {
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    justify-content: space-between;
    box-shadow: 0 0 15px black;
}

.logo {
    margin-left: 25px;
    margin-right: auto;
}

.logo a {
    color: var(--secondary-text-color);
    opacity: 0.8;
    text-decoration: none;
    transition: opacity .5s ease-in-out;
}

.logo a:hover {
    opacity: 1;
}

.navigation_menu {
    margin-right: 25px;
    margin-left: auto;
    align-items: center;
}

.navigation_item {
    gap: 50px;
    list-style-type: none;
}

.navigation_item a {
    font-size: 20px;
    color: var(--main-text-color);
    opacity: .8;
    text-decoration: none;
    transition: opacity .5s ease-in-out;
}

.navigation_item a:hover {
    opacity: 1;
}

.navigation_item a.active {
    color: var(--secondary-text-color);
}

@media (max-width: 889px) {
    .header {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .menu {
        align-items: center;
    }

    .navigation_item {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .header {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }

    .menu {
        padding: 15px;
    }

    .navigation_item {
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .logo {
        text-align: center;
    }

    .navigation_menu {
        justify-content: center;
    }

    .navigation_item {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 0;
    }

    .navigation_item a {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .navigation_item a {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    .header {
        padding: 5px 0;
    }

    .navigation_item a {
        font-size: 14px;
    }
}

/* main */
/* about me */
.main {
    margin-top: 200px;
    margin-left: 75px;
    margin-right: 75px;
}

.resume_container {
    justify-content: space-between;
}

.resume_image {
    max-width: 35%;
}

.resume_image img {
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px black;
    opacity: .8;
    transition: opacity .5s ease-in-out;
}

.resume_image img:hover {
    opacity: 1;
}

.resume_text {
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    max-width: 50%;
    opacity: .8;
    transition: opacity .3s ease-in-out;
}

.resume_text:hover {
    opacity: 1;
}

.resume_text h2 {
    font-size: 38px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--main-text-color);
}

.resume_text hr {
    margin-top: 10px;
    border: none;
    border: solid 1px var(--secondary-text-color);
    opacity: .8;
}

.resume_text p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-text-color);
}

@media (max-width: 889px) {
    .main {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .resume_image {
        max-width: 40%;
    }

    .resume_text {
        max-width: 50%;
    }

    .resume_text h2 {
        font-size: 28px;
    }

    .resume_text p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .main {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }

    .resume_text h2 {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .resume_text h2 {
        font-size: 24px;
    }

    .resume_text p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .resume_text {
        padding: 15px;
    }

    .resume_text p {
        line-height: 22px;
    }
}

@media (max-width: 420px) {
    .resume_text h2 {
        font-size: 20px;
    }
}

@media (max-width: 370px) {
    .resume_text h2 {
        font-size: 18px;
    }
}

/* skills */
.skills {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    opacity: .8;
    width: 1200px;
    max-width: 100%;
    transition: opacity .3s ease-in-out;
}

.skills:hover {
    opacity: 1;
}

.skills h2 {
    font-size: 38px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--main-text-color);
}

.skills_container {
    justify-content: space-between;
}

.skills_list {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.skills_list:last-of-type {
    margin-left: 40px;
}

.heading_list {
    margin-top: 15px;
}

.nested_list li {
    margin-top: 10px;
    margin-left: 20px;
}

@media (max-width: 889px) {
    .skills {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .skills h2 {
        font-size: 28px;
    }

    .skills_list {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .skills {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }

    .skills {
        padding: 15px;
    }

    .skills h2 {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .skills {
        padding: 10px;
    }

    .skills h2 {
        font-size: 24px;
    }

    .skills_list {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .skills_list {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 420px) {
    .skills h2 {
        font-size: 20px;
    }
}

@media (max-width: 370px) {
    .skills {
        margin-top: 50px;
    }

    .skills h2 {
        font-size: 18px;
    }
}

/* projects */
.projects {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    opacity: .8;
    width: 1500px;
    max-width: 100%;
    transition: opacity .3s ease-in-out;
}

.projects:hover {
    opacity: 1;
}

.projects h2 {
    font-size: 38px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--main-text-color);
}

.project_container {
    margin-top: 20px;
    justify-content: space-between;
}

.projects_item {
    padding: 25px;
    max-width: 35%;
}

.projects_item img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 25px black;
}

.projects_btn {
    margin-top: 50px;
    text-align: center;
}

.projects_btn a {
    padding: 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-size: 20px;
    color: var(--main-text-color);
    border-radius: 20px;
    transition: color 0.5s ease-in-out;
    z-index: 1;
}

.projects_btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background-color: var(--main-text-color);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    z-index: -1;
}

.projects_btn a:hover::before {
    left: 0;
}

.projects_btn a:hover {
    color: var(--secondary-text-color);
}

@media (max-width: 889px) {
    .projects {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .projects h2 {
        font-size: 28px;
    }

    .projects_item img {
        border-radius: 15px;
    }
}

@media (max-width: 768px) {
    .projects {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }

    .projects h2 {
        font-size: 26px;
    }

    .projects_item {
        padding: 15px;
    }
}

@media (max-width: 500px) {
    .projects {
        padding: 10px;
    }

    .projects h2 {
        font-size: 24px;
    }

    .projects_item {
        padding: 10px;
    }

    .projects_btn {
        margin-top: 25px;
    }

    .projects_btn a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .project_container {
        flex-direction: column;
        align-items: center;
    }

    .projects_item {
        margin-top: 20px;
    }

    .projects {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
    }

    .projects_btn {
        margin-top: 20px;
    }
}

@media (max-width: 420px) {
    .projects h2 {
        font-size: 20px;
    }
}

@media (max-width: 370px) {
    .projects {
        margin-top: 50px;
    }

    .projects h2 {
        font-size: 18px;
    }

    .projects_btn a {
        padding: 10px;
    }
}

/* footer */
.footer {
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
}

.contacts {
    background-color: var(--secondary-background-color);
    max-width: 100%;
    padding: 35px;
    border-radius: 30px 30px 0 0;
    opacity: .8;
    transition: opacity .3s ease-in-out;
}

.contacts:hover {
    opacity: 1;
}

.contacts h2 {
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--main-text-color);
}

.contacts_item {
    margin-top: 45px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
}

.contacts_item p {
    margin-top: 35px;
    color: var(--secondary-text-color);
}

.contacts_item a {
    text-decoration: none;
    color: var(--main-text-color);
    transition: opacity .3s ease-in-out;
}

.contacts_item a:hover {
    opacity: .7;
}

@media (max-width: 889px) {
    .footer {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .contacts {
        padding: 20px;
    }

    .contacts h2 {
        font-size: 32px;
    }

    .contacts_item {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .footer {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }

    .contacts h2 {
        font-size: 28px;
    }

    .contacts_item {
        margin-top: 30px;
        font-size: 18px;
        letter-spacing: 1px;
    }
}

@media (max-width: 500px) {
    .contacts {
        padding: 15px;
    }

    .contacts h2 {
        font-size: 24px;
    }

    .contacts_item {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .contacts_item p {
        margin-top: 20px;
    }
}

@media (max-width: 420px) {
    .contacts h2 {
        font-size: 20px;
    }

    .contacts_item {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    .contacts h2 {
        font-size: 18px;
    }

    .contacts_item {
        font-size: 14px;
    }
}
